html, body {
   margin: 0;
   padding: 0;
}

@media print {
	
	body:before {
       content: '' !important;
       top: -5mm;
    }

	.printarea {
		background-color: white !important;
		position: fixed !important;
		left: 0px !important;
        top: 0px !important;
		width: 100% !important;
		height: 100% !important;
	}
	
	.stencil-container, .inspector-container, .statusbar-container {
		display: none;
	}
	
	.printarea > *:not(svg) {
        display: none;
    }
	
}