/.classpath
/.project
/src/main/webapp/VAADIN/gwt-unitCache
/src/main/webapp/VAADIN/widgetsets/com.biit.jointjs.diagram.builder.JointJsWidgetBuilder
/target
/src/main/webapp/VAADIN/widgetsets/WEB-INF/deploy
/.settings
.idea
*.swp